  .logo {
    margin: 40px 0px 60px 0px;
  }
  
  .items {
    list-style: none;
    text-align: left;
    align-items: center;
    line-height: 40px;
    font-size: 18px;
  }

  .navitem li {
    padding-left: 60px;
  }
 
  .ashboardlink,
  .bookinglink,
  .analyticlink,
  .passengerlink,
  .carlink,
  .driverlink,
  .appsettinglink,
  .notificationlink,
  .reportlink,
  .vendorlink,
  .adminlink,
  .logoutlink {
    text-decoration: none;
    color: black;
  }

  .Dashboardicon,
  .Bookingicon,
  .Analyticicon,
  .Passengericon,
  .Caricon,
  .Drivericon,
  .Appsettingicon,
  .Notificationicon,
  .Reporticon,
  .Vendoricon,
  .Adminicon,
  .Logouticon {
    margin-right: 10px;
  }
  
  .logout {
    margin-top: 57px;
    color: red;
  }
  
  .details {
    background-color: rgb(205, 234, 244);
  }

  .header {
    margin-top: 43px;
    padding-left: 40px;
  }
  
  .vendor {
    font-size: 25px;
    font-weight: bold;
  }
  
  .user {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .dropdown {
    display: flex;
    align-items: center;
  }
  
  .dropdown a {
    display: flex;
    align-items: center;
  }
  
  .dropdown a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .buttons {
    margin-top: 70px;
    padding-left: 40px;
  }
  
  .search {
    font-size: 16px;
    border-radius: 10px;
    height: 40px;
    width: 790px;
    border-width: 0px;
    padding-left: 30px;
  }
  
  .search-button {
    justify-content: center;
    border-width: 0px;
    background-color: #0056b3;
    color: white;
    margin-left: 15px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .export {
    border-radius: 10px;
    padding-top: 6px;
    width: 140px;
    height: 40px;
  }
  
  .export1 {
    padding-left: 55px;
  }
  
  .items li:hover {
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 25%;
    margin-top: 7px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: inline;
  }

  .dropbtn {
    background-color: white;
    color: black;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 210px;
    text-align: left;
    border-radius: 10px;
    height: 60px;
    align-items: center;
    margin-left: 40px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .drop {
    background-color: white;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-left: 30px;
  }
  .drop-content {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 25%;
    margin-top: -20px;
  }
  
  .drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropd:hover .drop-content {
    display: inline;
  }
  
  .dropd {
    position: relative;
    display: inline-block;
  }
  
  .userarrow {
    margin-left: 45px;
  }
  
  .menu {
    height: 65px;
    width: 65px;
  }
.driver {
  margin-top: 10px;
}

  .driver-button {
    margin-left: 455px;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    background-color: #0056b3;
    color: white;
  }

  .table {
    margin-top: 20px;
    border-radius: 10px;
    padding: 0px 50px 0px 50px;
  }